@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-background: hsl(0, 0%, 98%);
    /* --color-theme: hsl(0, 0%, 98%); */
    --color-theme: hsl(0, 0%, 52%);
    --color-elements: hsl(0, 0%, 100%);
    --color-text: hsl(200, 15%, 8%);
  }
}

.theme-black {
  --color-background: hsl(207, 26%, 17%);
  /* --color-theme: hsl(0, 0%, 98%); */
  --color-theme: hsl(0, 0%, 0%);
  --color-elements: hsl(0, 0%, 100%);
  --color-text: hsl(0, 0%, 100%);
}

@layer components {

  .keyhole,
  .key {
    animation: showKey 0.5s 0.5s paused ease-out forwards;
  }

  .ghost {
    animation: hoverGhost 20s ease-in-out 2;
  }
}

@keyframes showKey {
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes hoverGhost {
  25% {
    transform: translateX(20vw);
  }

  75% {
    transform: translateX(-20vw);
  }
}