@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-background: hsl(0, 0%, 98%);
    /* --color-theme: hsl(0, 0%, 98%); */
    --color-theme: hsl(0, 0%, 52%);
    --color-elements: hsl(0, 0%, 100%);
    --color-text: hsl(200, 15%, 8%);
  }
}

.theme-black {
  --color-background: hsl(207, 26%, 17%);
  /* --color-theme: hsl(0, 0%, 98%); */
  --color-theme: hsl(0, 0%, 0%);
  --color-elements: hsl(0, 0%, 100%);
  --color-text: hsl(0, 0%, 100%);
}
